/*COMMON*/

.btn_generic{
    background-color: white;
    border: 1px solid #33adff;
    color: #33adff;
}

h2{
    color:rgb(3, 27, 78) ;
}

.small-text{
    font-size: 12px;
    margin-top: 10px;
}

/*HEADER*/

/*top-nav*/

header .header-nav img{
    height: 30px;
    margin: 10px;
}

header .menu-left,
header .menu-right{
    list-style: none;
    display: inline-block;
    padding: 10px 0;
    line-height: 32px;
}

header .menu-left li,
header .menu-right li{
    display: inline-block;
    padding: 0 5px;
}

header .menu-left li a,
header .menu-right li a{
    text-decoration: none;
    color: rgb(3, 27, 78);
}

.burger{
    font-size: 20px;
    text-align: right;
    line-height: 50px;
    color: #33adff;
}

header .menu-right{
    text-align: right;
}

/*jumbotron*/

.jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
}

#title{
    font-size: 55px;  
}

.jumbotron .teaser-left{
    color: white;
}

.jumbotron .teaser-right{
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
}

.jumbotron .teaser-right small{
    color:#33adff ;
}

form .btn_form{
    color: white;
    background-color:#33adff ;
}

form .btn_google{
    position: relative;
}

form img{
    height: 23px;
    position: absolute;
    left: 2px;
}

/*FINE HEADER*/