/*COMMON*/

.btn_generic{
    background-color: white;
    border: 1px solid #33adff;
    color: #33adff;
}

h2{
    color:rgb(3, 27, 78) ;
}

.main-text{
    color: gray;
    font-size: 18px;
    line-height: 28px;
}

.small-text{
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

a{
    color: #33adff;
}

main h3{
    color:rgb(3, 27, 78);
    font-size: 17px;
}




/*HEADER*/

/*top-nav*/

header .header-nav img{
    height: 30px;
    margin: 10px;
}

header .menu-left,
header .menu-right{
    list-style: none;
    display: inline-block;
    padding: 10px 0;
    line-height: 32px;
}

header .menu-left li,
header .menu-right li{
    display: inline-block;
    padding: 0 5px;
}

header .menu-left li a,
header .menu-right li a{
    text-decoration: none;
    color: rgb(3, 27, 78);
}

.burger{
    font-size: 20px;
    text-align: right;
    line-height: 50px;
    color: #33adff;
}

header .menu-right{
    text-align: right;
}

/*jumbotron*/

.jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
    margin-bottom: 0;
}

#title{
    font-size: 55px;  
}

.jumbotron .teaser-left{
    color: white;
}

.jumbotron .teaser-right{
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
}

.jumbotron .teaser-right small{
    color:#33adff ;
}

form .btn_form{
    color: white;
    background-color:#33adff ;
}

form .btn_google{
    position: relative;
}

form img{
    height: 23px;
    position: absolute;
    left: 2px;
}

.teaser-left p{
    color: #ded9d9;
}
/*platforms*/

.platforms{
    background-color: rgba(243,245,249,1);
}
.box-platforms{
    padding: 20px;
}

.box-platforms .intro-platforms-text{
    text-transform: uppercase;
    margin: 20px 0;
    color: gray;
    font-size: 13px;
}

.platforms .menu-img{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.platforms .menu-img li{
    display: inline-block;  
}

@media screen and (max-width:767px){
    .platforms .menu-img li{
        width: calc( (100% / 2) - 4px);
    }
    .platforms .menu-img li img{
        width: 100%;
        padding: 0 5px;
    }
}

@media screen and (min-width:768px){
    .platforms .menu-img li{
        width: calc( (100% / 6) - 4px);
    }
    .platforms .menu-img li img{
        width: 100%;
        padding: 0 5px;
    }
}

/*FINE HEADER*/

/*MAIN*/

.main-space{
    padding: 40px 0;
} 

/*deploy-section*/

.deploy-tools{
    margin-top: 30px;
}

.deploy-menu{
    list-style-type: none;
    margin-left: 0;
    padding-bottom: 15px;
    padding-left: 30px;
}

.deploy-menu li{
    border-left: 1px solid gray;
    padding-left: 5px;
    padding-bottom: 10px;
}

.deploy-menu li a{
    color: gray;
}

.box-tools p,
.box-slider p{
    color: gray;
}

.box-tools{
    padding-bottom: 15px;
    padding-left: 30px;
}

/*design-section*/

.design-section{
    background-color:rgba(243,245,249,1) ;
}

.box-img-design img{
    padding: 0 10px;
}

.box-slider{
    margin-top: 70px;
    margin-bottom: 15px;
    padding: 0 300px;
    position: relative;
}

.box-slider .fa-chevron-left{
    position:absolute;
    top: 50%;
    right: 80%;
    transform: translate(-50%, -50%);
}

.box-slider .fa-chevron-right{
    position:absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.box-slider .fa-chevron-left,
.box-slider .fa-chevron-right{
    color: rgb(3, 27, 78) ;
    font-size: 25px;
}

.menu-slider{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-slider li{
    display: inline-block;
    padding: 4px;
   
}

.menu-slider li a{
    text-decoration: none;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color:white ;
    border: 1px solid #33adff;
    border-radius: 50%;
  
}

.menu-slider li:first-child a{
    background-color: #33adff;
}

/*fine design-section*/

/*features-section*/

.box-features{
    margin: 50px auto;
}

.box-features h2,
.design-section h2{
    margin-bottom: 35px;
}

/*fine features-section*/

/*customers-section*/

.customer-section{
    background-color: #054cff;
  
}

.box-customers h2{
    color: white;
    margin-top: 40px;
}

.box-list{
    color: white;
}

.menu-customers{
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    
}

.menu-customers li{
    border-bottom: 1px solid white;
    padding: 15px 0;
}




/*fine customers-section*/




/*FINE MAIN*/